body{
  font-family:  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.saleHeader{
    background-color:#677e52;
    color: white;
    padding: 10px 0px 10px 0px ;
    font-size: 13px ;
}
.headerSection{
    font-size: 15px ;

}.fa-solid {
    padding-left: 40px;

}











/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 994px) {
    /* Hide the business number when the screen resize */
   #businessNumber{
       visibility: hidden;
   } 


}
